<p id="notice"><%= notice %></p>

<p>
  <b><%= @schedule.template %></b> schedule for <b><%= @schedule.person_name %></b> born on <b><%= @schedule.date_of_birth %></b>:
</p>

<p>
  <% unless @schedule.vaccines.blank? %>
  <table>
    <tr>
      <th>Vaccine&darr;&nbsp;&nbsp;&nbsp;&nbsp;Age&rarr;</th>
    </tr>
    <% @schedule.vaccines.each do |vaccine| %>
    <tr>
      <td><%= vaccine.name %></td>
      <% vaccine.doses.each do |dose| %>
        <td><%= dose_info(dose) %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
  <% else %>
    <b>Empty Schedule</b>
  <% end %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
